= render 'admin/settings/tabs'
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %tr
      %th= t('.title')
      %th= t('.shorthand')
      %th= t('.number_of_images')
      %th= t('.actions')
  - Gallery.sorted.each do |gallery|
    %tr
      %td= best_in_place(gallery, :title, :path => [:admin, gallery])
      %td= best_in_place(gallery, :shorthand, :path => [:admin, gallery])
      %td= gallery.images.count
      %td.management_functionality
        = link_to portfolio_path(:id => gallery.shorthand) do
          = fa_icon 'eye'
          = t('.view')
        = link_to [:edit, :admin, gallery] do
          = fa_icon 'pencil'
          = t('.edit')
        = link_to [:admin, gallery], :method => :delete do
          = fa_icon 'trash-o'
          = t('.destroy')
