= render 'admin/settings/tabs'
%table#sortable-table.table.table-striped.table-bordered.table-condensed.sortable{:data => {:update_url => '/admin/galleries/reorder_galleries', :callback => "$('#reload-warning').show()"}}
  %tr
    %tr
      %th= t('.title')
      %th= t('.shorthand')
      %th= t('.number_of_images')
      %th= t('.show_as_portfolio')
      %th= t('.actions')
  - Gallery.sorted.each do |gallery|
    %tr{:id => gallery.id}
      %td= best_in_place(gallery, :title, :path => [:admin, gallery])
      %td= best_in_place(gallery, :shorthand, :path => [:admin, gallery])
      %td= gallery.images.count
      %td= best_in_place(gallery, :is_portfolio, :type => :checkbox, :path => [:admin, gallery])
      %td.management-functionality
        = link_to portfolio_path(:id => gallery.shorthand) do
          = fa_icon 'eye'
          = t('.view')
        = link_to [:edit, :admin, gallery] do
          = fa_icon 'sort-amount-desc'
          = t('.edit')
        = link_to [:admin, gallery, :add_images] do
          = fa_icon 'picture-o'
          = t('.add_images')
        = link_to [:admin, gallery], :data => {:confirm => t('.destroy_confirmation')}, :method => :delete do
          = fa_icon 'trash-o'
          = t('.destroy')

.management-functionality
  = link_to new_admin_gallery_path do
    = fa_icon 'magic'
    = t('.new_gallery')

#reload-warning{:style => 'display:none'}
  %p= t('.reload_warning').html_safe
:javascript
  $('.best_in_place').bind("ajax:success", function(){ $('#reload-warning').show(); });
