- for post in posts
  .blog-post-header
    %h3= link_to(post.title, post_path(:id => post.shorthand))
    %p.post-date= l(post.published_at, :format => :short)
    = render('/partials/blog_post_tags', :post_tags => post.post_tags)
  .blog-post
    = Blog::PostService.sanitized_blog_content(post, false)
    - if portfolios[post.id].present?
      %div{:id => "post-gallery-#{post.id}"}
        = render :partial => 'portfolios/gallery', :locals => {:flickr_images => Flickr::PortfolioService.images_for_portfolio(portfolios[post.id]), :portfolio => portfolios[post.id]}
      = render :partial => 'portfolios/gallery_js', :locals => {:gallery_name => "post-gallery-#{post.id}", :row_height => 100}
    - if post.content.include?(Setting.post_more_separator)
      %p= link_to(t('.read_more'), "#{post_path(:id => post.shorthand, :anchor => "more-#{post.id}")}")
    .blog_post_comment_count
      - if Setting.disqus_shortname.blank?
        - if post.post_comments.ham.count == 1
          = link_to(t('.number_of_comments.one'), post_path(:id => post.shorthand, :anchor => 'comments'))
        - elsif post.post_comments.ham.count > 0
          = link_to(t('.number_of_comments.other', :number_of_comments => post.post_comments.ham.count), post_path(:id => post.shorthand, :anchor => 'comments'))
        - else
          = link_to(t('.number_of_comments.zero'), post_path(:id => post.shorthand, :anchor => 'comments'))
      - else
        = link_to(t('.comment'), post_path(:id => post.shorthand, :anchor => 'comments'))
  - if user_signed_in?
    .management_functionality
      %p
        = link_to(t('.edit_post'), edit_post_path(:id => post.id))
        = link_to(t('.destroy_post'), post_path(:id => post.id), :data => {:confirm => t('.destroy_confirmation')}, :method => :delete)

= will_paginate posts, :renderer => BootstrapPagination::Rails

- if user_signed_in?
  .management_functionality
    %p= link_to(t('.new_post'), new_post_path)
