<div class="blog_post">
  <div class="blog_post_content">
    <p class="post_date"><%= I18n.l post.created_at, :format => :short %></p>
    <%= render :partial => '/partials/blog_post_tags', :locals => { :post_tags => post.post_tags } %>
    <%= post.content.gsub(Setting.post_more_separator, "<span id=\"more-#{post.id}\"></span>").html_safe %>
  </div>
  <% if post.post_comments.size > 0 %>
    <div class="blog_post_comments">
      <% if post.post_comments.count == 1 %>
        <h3><%= I18n.t('notices.post.number_of_comments.one', :number_of_comments => post.post_comments.count) %></h3>
      <% elsif post.post_comments.count > 0 %>
        <h3><%= I18n.t('notices.post.number_of_comments.other', :number_of_comments => post.post_comments.count) %></h3>
      <% end %>
      <% post.post_comments.each do |post_comment| %>
        <h4>
          <% if post_comment.url.blank? %>
            <%= post_comment.name %>
          <% else %>
            <%= link_to post_comment.name, post_comment.url, :rel => 'nofollow' %>
          <% end %>
        </h4>
        <%= post_comment.comment %>
      <% end %>
    </div>
  <% end %>
  <div class="blog_post_comment_form">
    <h3><%= I18n.t('titles.post_comments.leave_reply') %></h3>
    <%= simple_form_for post_comment, :url => post_comment_path(:post_id => post.shorthand) do |f| %>
      <div class="form-inputs">
        <%= f.error_notification %>
        <%= display_base_errors post_comment %>
        <%= f.input :post_id, :as => :hidden, :input_html => { :value => post.id } %>
        <%= f.input :name, input_html: { class: 'input-block-level' } %>
        <%= f.input :email, input_html: { class: 'input-block-level' } %>
        <%= f.input :url, input_html: { class: 'input-block-level' } %>
        <%= f.input :comment, input_html: { class: 'input-block-level tinymce' }, required: false %>
      </div>
      <%= tinymce %>
      <div class="form-actions">
        <%= f.button :submit, I18n.t('links.post_comment.create') %>
      </div>
    <% end %>
  </div>
</div>
