= render 'tabs'
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %tr
      %th= t('.tag_name')
      %th= t('.reset_time')
      %th= t('.edit')
      %th= t('.reset')
      %th= t('.destroy')
  - all_caches.each do |flickr_cache|
    - tag_name = flickr_cache.flickr_tag.tag_name
    %tr
      %td= tag_name
      %td
        - if caches_to_refresh.include?(flickr_cache) && flickr_cache.reset_pending?
          %span.loading-spinner{:id => "spinner-#{tag_name}", :data => {:cache => tag_name}}
            %i{:class => 'fa fa-spinner fa-spin'}
          %span{:id => "success-#{tag_name}", :style => 'display:none'}
            %i.fa.fa-check
        = time_ago_in_words(flickr_cache.updated_at)
      %td= link_to(t('.edit_portfolio', :tag_name => tag_name), edit_portfolio_path(:id => tag_name))
      %td= link_to(t('.reset_cache', :tag_name => tag_name), reset_cache_settings_path(:tag => tag_name), :method => :delete)
      %td= link_to(t('.destroy_cache', :tag_name => tag_name), destroy_cache_settings_path(:tag => tag_name), :method => :delete)

%p= link_to(t('.reset_caches'), reset_caches_settings_path, :method => :delete)
%p= link_to(t('.destroy_caches'), destroy_caches_settings_path, :method => :delete)
