%hr
.blog_post
  .blog_post_content
    = Blog::PostService.sanitized_blog_content(post, true)
    - if portfolio.present?
      #post-gallery
        = render :partial => 'portfolios/gallery', :locals => {:flickr_images => Flickr::PortfolioService.images_for_portfolio(portfolio), :portfolio => portfolio}

      = render :partial => 'portfolios/gallery_js', :locals => {:gallery_name => 'post-gallery'}

  - if user_signed_in?
    .management_functionality
      %p
        = link_to(I18n.t('links.page.edit'), edit_page_path(:id => post.id))
        = link_to(I18n.t('links.page.destroy'), page_path(:id => post.id), :data => {:confirm => I18n.t('link_confirmations.destroy_post')}, :method => :delete)
