<%= simple_form_for @post, :url => edit_post_path(:id => @post.id) do |f| %>
  <div class="form-inputs">
    <%= f.error_notification %>
    <%= display_base_errors @post %>
    <%= f.input :title, input_html: { class: 'input-block-level' }, required: false %>
    <%= f.input :tags, input_html: { class: 'input-block-level' } %>
    <%= f.input :content, input_html: { class: 'input-block-level tinymce' }, required: false %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<%= tinymce %>