%nav.navbar.navbar-default.navbar-static-top.navbar-inverse{:role => 'navigation'}

  .navbar-header
    %button.navbar-toggle{:type => 'button', :data => {:toggle => 'collapse', :target => '#navigation'}}
      %span.sr-only
        Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %ul.nav.navbar-nav
      %li{:class => active_class(:root)}
        = link_to(Setting.page_title_short, root_path, :class => 'navbar-brand')

  .collapse.navbar-collapse#navigation
    %ul.nav.navbar-nav
      %li{:class => active_class(:home)}
        = link_to(t('.home'), posts_path)
      - displayed_portfolios.each do |portfolio|
        %li{:class => active_class("portfolio:#{portfolio.shorthand}")}
          = link_to(portfolio.title, portfolio_path(:id => portfolio.shorthand))
      - Post.only_pages.sorted.each do |page|
        %li{:class => active_class("page:#{page.shorthand}")}
          = link_to(page.title, page_path(:id => page.shorthand))

      - if user_signed_in?
        %li.dropdown
          %a.dropdown-toggle{:href => '#', :data => {:toggle => 'dropdown'}}
            = t('.dropdown_admin')
            %b.caret
          %ul.dropdown-menu
            %li= link_to(t('.admin.new_page'), new_page_path)
            %li= link_to(t('.admin.parameters'), admin_settings_path)
            %li= link_to(t('.admin.galleries'), admin_galleries_path)

    - if [Setting.flickr_url, Setting.twitter_url, Setting.facebook_url, Setting.google_plus_icon].reject(&:blank?).any?
      %ul.nav.navbar-nav.navbar-right.icons
        - if Setting.flickr_url.present?
          %li= link_to(fa_icon('flickr'), Setting.flickr_url)
        - if Setting.twitter_url.present?
          %li= link_to(fa_icon('twitter-square'), Setting.twitter_url)
        - if Setting.facebook_url.present?
          %li= link_to(fa_icon('facebook-square'), Setting.facebook_url)
        - if Setting.google_plus_url.present?
          %li= link_to(fa_icon('google-plus-square'), Setting.google_plus_url)

  - if Setting.tagline.present?
    %p.tagline= Setting.tagline
