#navigation
  = link_to(I18n.t('navigation.home'), posts_path)
  = link_to(I18n.t('navigation.portfolio'), portfolio_path(:id => 'portfolio'))
  - (Setting.portfolio_tags || '').split(',').map(&:strip).each do |portfolio_tag|
    = link_to(portfolio_tag.humanize, portfolio_path(:id => portfolio_tag))
  - Post.only_pages.sorted.each do |page|
    = link_to(page.title, page_path(:id => page.shorthand))
  - if user_signed_in?
    .management_functionality
      %p= link_to(I18n.t('links.flickr_images.blog_images'), portfolio_path(:id => Setting.flickr_blog_images_tag))
      %p= link_to(I18n.t('links.page.new'), new_page_path)
