= link_to(I18n.t('navigation.home'), posts_path)
= link_to(I18n.t('navigation.portfolio'), flickr_images_path)
- (Setting.portfolio_tags || '').split(',').map(&:strip).each do |portfolio_tag|
  = link_to(portfolio_tag.humanize, flickr_images_path(:portfolio => portfolio_tag))
- Post.only_pages.sorted.each do |page|
  = link_to(page.title, page_path(:id => page.shorthand))
- if user_signed_in?
  .management_functionality
    %p= link_to(I18n.t('links.page.new'), new_page_path)
