%nav.navbar.navbar-default.navbar-static-top.navbar-inverse{:role => 'navigation'}
  .navbar-header
    %button.navbar-toggle{:type => 'button', :data => {:toggle => 'collapse', :target => '#navigation'}}
      %span.sr-only
        Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %ul.nav.navbar-nav
      %li{:class => active_class(:root)}
        = link_to(Setting.page_title_short, root_path, :class => 'navbar-brand')
  .collapse.navbar-collapse#navigation
    %ul.nav.navbar-nav
      %li{:class => active_class(:home)}
        = link_to(t('.home'), posts_path)
      %li{:class => active_class('portfolio:portfolio')}
        = link_to(t('.portfolio'), portfolio_path(:id => 'portfolio'))
      - (Setting.portfolio_tags || '').split(',').map(&:strip).each do |portfolio_tag|
        %li{:class => active_class("portfolio:#{portfolio_tag}")}
          = link_to(portfolio_tag.humanize, portfolio_path(:id => portfolio_tag))
      - Post.only_pages.sorted.each do |page|
        %li{:class => active_class("page:#{page.shorthand}")}
          = link_to(page.title, page_path(:id => page.shorthand))
      - if user_signed_in?
        %li.dropdown
          %a.dropdown-toggle{:href => '#', :data => {:toggle => 'dropdown'}}
            = t('.dropdown_admin')
            %b.caret
          %ul.dropdown-menu
            %li= link_to(t('.admin.blog_images'), portfolio_path(:id => Setting.flickr_blog_images_tag))
            %li= link_to(t('.admin.new_page'), new_page_path)
    - if [Setting.flickr_url, Setting.twitter_url, Setting.facebook_url, Setting.google_plus_icon].reject(&:blank?).any?
      %ul.nav.navbar-nav.navbar-right.icons
        - if Setting.flickr_url.present?
          %li= link_to(fa_icon('flickr'), Setting.flickr_url)
        - if Setting.twitter_url.present?
          %li= link_to(fa_icon('twitter-square'), Setting.twitter_url)
        - if Setting.facebook_url.present?
          %li= link_to(fa_icon('facebook-square'), Setting.facebook_url)
        - if Setting.google_plus_url.present?
          %li= link_to(fa_icon('google-plus-square'), Setting.google_plus_url)
  - if Setting.tagline.present?
    %p.tagline= Setting.tagline
