<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= I18n.t("titles.#{controller.controller_name}.#{controller.action_name}", :title_parameter => @title_parameter) %> - <%= Setting.page_title %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <script type="text/javascript" src="//use.typekit.net/ubz0eup.js"></script>
  <script type="text/javascript">Typekit.load();</script>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</header>
<div id="main" role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <h2><%= link_to I18n.t("titles.#{controller.controller_name}.#{controller.action_name}", :title_parameter => @title_parameter), params %></h2>
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
      <footer class="navbar navbar-fixed-bottom">
        <%= I18n.t('notices.footer') %>
        <% if user_signed_in? %>
          - <%= link_to I18n.t('navigation.admin'), settings_path %>
          - <%= link_to I18n.t('navigation.logout'), destroy_user_session_path, :method => :delete %>
        <% else %>
          - <%= link_to I18n.t('navigation.login'), new_user_session_path  %>
        <% end %>
      </footer>
    </div>
  </div> <!--! end of .container -->
</div> <!--! end of #main -->
</body>
</html>