!!!
%html
  = render :partial => 'layouts/html_head'
  %body
    = render :partial => 'layouts/header'

    .main{:role => 'main'}
      .container
        .content
          .row
            .col-md-12
              %h2
                = link_to(t("titles.#{controller.controller_name}.#{controller.action_name}", :title_parameter => @title_parameter), params)
              = render :partial => 'layouts/messages'
              = yield

    = render :partial => 'layouts/footer'
