!!!
%html
  = render :partial => 'layouts/html_head'
  %body
    = render :partial => 'layouts/navigation'
    = render :partial => 'layouts/messages'
    = yield
    = render :partial => 'layouts/footer'
